PORT=3001
CORS_ORIGIN=*

DATABASE_URL=postgresql://postgres:<YOUR-PASSWORD>@db.<YOUR-PROJECT-REF>.supabase.co:5432/postgres
DATABASE_SSL=true

TYPEORM_SYNC=true
TYPEORM_LOGGING=false
SEED_DATABASE=true
